 .u-section-1 {
  background-image: linear-gradient(white, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-1 .u-table-1 {
  margin-top: 216px;
  margin-bottom: 60px;
}

.u-block-e7bb-9 {
  font-weight: 700;
  background-image: none;
}.u-section-2 .u-sheet-1 {
  min-height: 464px;
}.u-section-3 .u-sheet-1 {
  min-height: 464px;
}